﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Html.Raw(this.ViewBag.Title as string)</title>
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/default.js"></script>
</head>
<body>
  @RenderBody()
</body>
</html>