.tab {
    margin: 5px 0 0 8px;
    width: 250px;
}

.tabcontent {
    border: 1px solid black;
    border-radius: 3px 4px 4px 3px;
    position: absolute;
    top: 5px;
    left: 265px;
    width: 75%;
    height: 80%;
    min-height: 650px;
    min-width: 1000px;
}

.wideInput {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 18px;
    font-weight: 600;
}

.settingsLink{
    font-size: 15px;
    display: inline-block;
}

.smallText {
    font-size: 14px;
    font-weight: 500;
}

.submitButton {
    width: 300px;
}

.module {
    width: 48.5%;
    height: 60%;
    left: 8px;
    bottom: 8px;
}

    .moduleCheckbox {
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    .moduleButton {
        width: 40%;
        height: 30px;
        position: absolute;
        bottom: 10px;
        left: 30%;
    }

.stateText{
    position: absolute;
    top: 50px;
    left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.stateCheckbox {
    position: absolute;
    top: 65px;
    left: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.baseMargin{
    margin: 5px 5px 5px 5px; 
}