﻿@model (int, string)
<form action="Components/Update" method="post">
    <div class="form-group" style="text-align: center;">
        <h5 class="card-header">Приветствующий обработчик</h5>
        <br />
        <label class="text" style="margin: 40px 0 16px 0">Введите приветствие</label>
        <br />
        <input class="form-control wideInput" style="width:450px" type="text" name="settings" value="@Model.Item2" />
        <input type="number" name="id" value="@Model.Item1" hidden />
        <span class="text-danger"></span>
        <br />
        <br />
        <button class="btn btn-primary submitButton" type="submit">Отправить</button>
    </div>
</form>