﻿@model BotManager.WebApplication.Models.IndexModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<body onload="setTab('tabcontent', 'tablinks'), setTab('settingsTab', 'settingsLink')">
<div>
    <div class="tab">
        <ul class="list-group">
            @foreach (var item in Model.BotsWithExtensions)
            {
                var bot = item.Key;
                <li id="@("button" + bot.Id)" class="list-group-item tablinks" onclick="openTab('@("button" + bot.Id)', '@(bot.Id)', 'tabcontent', 'tablinks'), saveTab('@("button" + bot.Id)', '@(bot.Id)', 'tabcontent')">@bot.Name</li>
            }
            <li id="buttonCreate" class="list-group-item tablinks" onclick="openTab('buttonCreate', 'create', 'tabcontent', 'tablinks'), saveTab('buttonCreate', 'create', 'tabcontent')">Добавить...</li>
        </ul>
    </div>
    @foreach (var item in Model.BotsWithExtensions)
    {
        var bot = item.Key;
        <div id="@bot.Id" class="tabcontent">
            <div class="card" style="margin: 8px 8px 0 8px; height: 36%">
                <h5 class="card-header" style="text-align:center">@bot.Name</h5>
                <h5 class="baseMargin">Токен</h5>
                <p class="baseMargin">@bot.Token.ToString()</p>
                <form id="@("switch" + bot.Id)">
                    <div class="baseMargin">
                        <h5 style="display: inline-block; margin: 0 0 0 0; vertical-align: middle">Включен</h5>
                        <label class="switch">
                            <input type="checkbox" name="flag" checked="@bot.IsEnabled" onclick="sendData('/Home/SetState', '@("switch" + bot.Id)')"/>
                            <span class="slider round"></span>
                        </label>
                        <input type="number" name="id" value="@bot.Id" hidden/>
                    </div>
                </form>
                <div class="form-group" style="position:absolute; left: 5px; bottom: 5px; margin-bottom: 0">
                    <form id="@("removeForm" + bot.Id)">
                        <button class="btn btn-primary submitButton" onclick="confirmAction('Вы уверены, что хотите удалить бота?', () => { deleteBot('Home/Remove', '@("removeForm" + bot.Id)', '@bot.Id', '@("button" + bot.Id)')})">Удалить</button>
                        <input type="number" name="id" value="@bot.Id" hidden/>
                    </form>
                </div>
            </div>


            <div class="card module" style="position: absolute">
                <h5 class="card-header" style="text-align: center">Модули</h5>
                <div class="card-body">
                    @await Component.InvokeAsync("Module", new {data = Model.ExtensionNames.Zip(item.Value, (names, values) => (names, values)).ToList(), botId = bot.Id})
                </div>
            </div>

            @for (int i = 0; i < Model.ComponentNames.Count; i++)
            {
                <div class="settingsTab" id="@("module" + i + "bot" + bot.Id)">
                    <div class="card module" style="position: absolute; left:auto; right:8px;">
                        @await Component.InvokeAsync(Model.ComponentNames[i], new {id = bot.Id, settings = Model.Settings[bot.Id][i]})
                    </div>
                </div>
            }
        </div>
    }
    <div>
    </div>
    <div id="create" class="tabcontent" style="text-align: center" onclick="saveTab('buttonCreate','create', 'tabcontent')">
        @await Component.InvokeAsync("Create")
    </div>
</div>
</body>