﻿<div style="margin-top: 80px">
    <h2 style="margin-bottom: 20px">Создать</h2>
    @* ReSharper disable once Mvc.ActionNotResolved *@
    <form asp-controller="Home" asp-action="Create" method="post">
        <div class="form-group">
            <label class="text">Введите имя бота</label>
            <br />
            <input class="form-control wideInput" style="width:450px" type="text" name="name" />
            <span class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label class="text">Введите токен</label>
            <br />
            <input class="form-control wideInput" style="width:450px" type="text" name="token" />
            <span class="text-danger"></span>
        </div>
        <br />
        <button class="btn btn-primary submitButton" type="submit">Отправить</button>
    </form>
</div>

