﻿@model BotManager.WebApplication.Models.ModuleModel
@for (int i = 0; i < Model.Data.Count; i++)
{
    <form id="@("form" + i + "bot" + Model.BotId)">
        <div class="form-check form-check-inline">
            <input class="form-check-input" style="margin-left: 5px" type="checkbox" name="flag" checked="@Model.Data[i].Item2" onclick="sendData('Home/UpdateData', '@("form" + i + "bot" + Model.BotId)')"/>
            <p class="form-check-label" type="button" onclick="openTab(null, '@("module" + i + "bot" + Model.BotId)', 'settingsTab', 'settingsLink'), saveTab(null, '@("module" + i + "bot" + Model.BotId)', 'settingsTab')">@Model.Data[i].Item1</p>
        </div>
        <br/>
        <input type="number" name="id" value="@Model.BotId" hidden/>
        <input type="number" name="index" value="@i" hidden/>
    </form>
}